@charset "utf-8";

@font-face {
    font-family: Text;
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%
    overflow: hidden;
    background-color: hsl(213, 58%, 45%);
    background-image:
        linear-gradient(hsl(214, 47%, 50%) 2px, transparent 2px),
        linear-gradient(90deg, hsl(214, 47%, 50%) 2px, transparent 2px),
        linear-gradient(hsl(214, 47%, 50%) 1px, transparent 1px),
        linear-gradient(90deg, hsl(214, 47%, 50%) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

    html.network-status-online #network-status {
        color: hsl(99, 88%, 44%);
    }

    html.network-status-offline #network-status {
        color: hsl(0, 99%, 64%);
    }

body {
    font: 1rem/1.2 Text, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    transition: transform 300ms cubic-bezier(1,.41,0,1);
}

    .fullscreen[aria-hidden="true"] {
        transform: translateY(-200vh);
    }

#intro {
    display: flex;
    flex-direction: row;
    background: hsla(213, 58%, 45%, .85);
    z-index: 1;
}

    #intro > form {
        display: block;
        width: 80%;
        max-width: 600px;
        margin: auto;
        padding: 2.5rem 3rem;
        border: 2px hsla(0, 0%, 100%, .5) solid;
        background: hsla(0, 0%, 100%, .1);
    }

    #intro > form p {
        text-align: center;
    }

    #intro > form > p > input {
        width: 80%;
        min-width: 5rem;
        max-width: 12rem;
        margin-top: .5rem;
    }

    #intro > form > p > button {
        display: block;
        margin: 1rem auto 0 auto;
    }

#canvas {
    overflow: hidden;
}

[data-team="green"] {
    color: hsl(78, 69%, 47%);
}

[data-team="yellow"] {
    color: hsl(56, 73%, 49%);
}

#controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    overflow: auto;
    width: 11rem;
    max-height: calc(100% - 2rem);
    text-align: end;
}

    #controls > dl > dt {
        font-weight: bold;
        font-variant: all-small-caps;
        margin-bottom: .3rem;
    }

    #controls > dl > dd + dt {
        margin-top: 1rem;
    }

    #players,
    #scores {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

        #players > li,
        #scores > li {
            position: relative;
            display: block;
            order: 1;
        }

        #players > li {
            text-overflow: ellipsis;
            overflow: hidden;
        }
,
        #players > li[data-team="green"] {
            order: 2;
        }

.bubble__container {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -200px;
    left: 0;
    animation: 2s ease-in-out 0s infinite alternate zigzag_x;
}

.bubble {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: 10s linear 0s infinite zigzag_y;
    border: 3px currentColor solid;
    background: hsla(0, 0%, 100%, .25);
}

input, button {
    font: inherit;
    text-align: center;
    padding: .2rem .5rem;
    border: 2px hsla(0, 0%, 100%, .5) solid;
    border-radius: .2rem;
}

    button {
        background: hsla(0, 0%, 100%, .5);
    }

menu {
    display: none;
}

@keyframes zigzag_x {
    from {
        transform: translateX(-80px);
    }

    to {
        transform: translateX(80px);
    }
}

@keyframes zigzag_y {
    from {
        transform: translateY(calc(100vh + 200px));
    }

    to {
        transform: translateY(-200px);
    }
}
