@charset "utf-8";

@font-face {
    font-family: Text;
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

    html.network-status-online #network-status {
        color: hsl(99, 88%, 44%);
    }

    html.network-status-offline #network-status {
        color: hsl(0, 99%, 64%);
    }

body {
    font: 1rem/1.2 Text, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d5d5cb;
    background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.05), rgba(255,255,255,.05) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.05), rgba(255,255,255,.05) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.05) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.05) 75%, rgba(0,0,0,.05)),
        linear-gradient(120deg, rgba(0,0,0,.05) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.05) 75%, rgba(0,0,0,.05));
    background-size: 70px 120px;
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    transition: transform 300ms cubic-bezier(1, .41, 0, 1);
}

    .fullscreen[aria-hidden="true"] {
        transform: translateY(-200vh);
    }

#intro {
    display: flex;
    flex-direction: row;
    background: hsla(0, 0%, 100%, .7);
    z-index: 3;
}

    #intro > form {
        display: block;
        width: 100%;
        margin: auto;
    }

    #intro > form p {
        text-align: center;
    }

    #pseudo {
        width: 80%;
        min-width: 10rem;
        max-width: 18rem;
        margin-top: .5rem;
        text-align: center;
        padding: .5rem 1rem;
        border: 0;
    }

    #intro > form > p > button {
        display: block;
        color: hsl(0, 0%, 100%);
        margin: 1rem auto 0 auto;
        padding: .5rem 1rem;
        border: 0;
        background: hsl(112, 28%, 47%);
    }

#chat {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    max-width: 42rem;
    height: calc(100vh - 3rem);
}

    #chat h2 {
        display: none;
    }

    #thread {
        flex: 1;
    }

    #shootbox {
        display: flex;
    }

    #message {
        flex: 1;
        padding: .6rem .8rem;
    }

#thread {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0 1rem
}

    #thread li {
        width: 80%;
        padding: .5rem 1.8rem;
        border-radius: .3rem;
        background: hsl(0, 0%, 100%);
    }

    #thread li:not(:first-child) {
        margin-top: 1rem;
    }

    #thread [data-message-type="me"] {
        align-self: flex-end;
        text-align: right;
    }

    #thread [data-message-type="info"] {
        align-self: center;
        text-align: center;
        width: 65%;
        background: hsl(198, 68%, 91%);
    }

    #thread aside {
        position: relative;
        font-size: small;
        margin-bottom: .3rem;
    }

    #thread aside img {
        position: absolute;
        top: -1rem;
        left: -2.5rem;
        width: 2.2rem;
        height: 2.2rem;
        border: 4px transparent solid;
        border-radius: 50%;
        background: #d5d5cb;
    }

    #thread [data-message-type="me"] aside img {
        left: auto;
        right: -2.5rem;
    }

#activity {
    position: relative;
    display: flex !important;
    flex-direction: row;
    list-style: none;
    font-size: small;
    height: 1rem;
    margin-right: 5rem;
    margin-bottom: .3rem;
    padding-left: 3.4rem;
}

    #activity[aria-hidden="true"] {
        visibility: hidden;
    }

    #activity-message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

#activity-loader {
    position: absolute;
    top: -.8rem;
    left: 0;
    height: 2.8rem;
    z-index: 1;
}

    #activity-loader > circle {
        fill: hsl(0, 0%, 100%);
        animation-play-state: running;
        transform: translateY(100%);
        animation: 2s ease-in-out 0s infinite normal bloup; 
    }

    #activity-loader > circle:nth-child(2) {
        animation-delay: .2s;
    }

    #activity-loader > circle:nth-child(3) {
        animation-delay: .4s;
    }

    #activity[aria-hidden="true"] #activity-loader > circle {
        animation-play-state: paused;
    }

#shootbox {
    z-index: 2;
}

    #shootbox input:invalid {
        box-shadow: none;
    }

#shootbox button {
    width: 4rem;
    border: none;
    border-radius: 50%;
    margin-left: 1rem;
    background: hsl(112, 28%, 47%);
}

#controls {
    font-size: small;
    text-align: center;
    margin: 1rem auto 0;
    max-width: 42rem;
}

    #controls > dl > * {
        display: inline-block;
        vertical-align: middle;
    }

    #controls > dl > dt ~ dt {
        margin-left: 1rem;
    }

    #people {
        list-style: none;
        overflow: hidden;
    }

    #people > li {
        display: inline-block;
    }

[aria-hidden="true"] {
    display: none;
}

input, button {
    font: inherit;
    border-radius: .3rem;
    border: none;
}

svg {
    color: hsl(0, 0%, 100%);
    height: 80%;
}

svg path {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: .5rem;
    stroke-linejoin: round;
    transform: translateX(4%);
}

menu {
    display: none;
}

@keyframes bloup {
    0%, 50% {
        transform: translateY(100%);
    }

    25% {
        transform: translateY(0);
    }
}
